/** **********************************************
*  Top Navigation bar
*********************************************** */
.nav-v2{
    float:right;
    height:34px;
    position:relative;
    right:0;
    top:5px;
    width:788px;
}
.nav-v2 ul.nav{
    padding:0;
    list-style-type:none;
    margin-left:1px;
    padding-top:10px;
}
.nav-v2 ul.nav li{
    display:inline;
}
.nav-v2 ul.nav li.last a{
    background-image:none;
    margin:0;
    padding-right:8px;
    padding-left:8px;
    padding-bottom:5px;
}
.nav-v2 ul.nav li a{
    background:transparent url("../../images/wib/fl-divider-grey.gif") no-repeat scroll 100% 50%;
    padding-right:8px;
    padding-left:8px;
    padding-bottom:5px;
    color:#D4DCE2;
    font-size:0.9em;
    border-bottom:4px #2F3D49 solid;
}
.nav-v2 ul.nav li a:hover{
    text-decoration:none;
}

.nav-v2 ul.nav li a:hover{
    border-bottom:4px #900A0A solid;
}

.header-help-link
{
	text-align: right;
	margin-right: 10px;
}

.header-help-link a, .header-help-link a:visited
{
	color: red;
	font-weight: bold;
}

/**
*  Simple vertical menu with red arrows as the list image
*/
ul.menu_simple_vertical,ol.menu_simple_vertical{ list-style:none; }
    ul.menu_simple_vertical li,ol.menu_simple_vertical li{
        padding-left:11px;
        padding-top:2px;
        padding-bottom:2px;
        display:block;
        background:transparent url("../../images/wib/fl-bullet-red-arrow.gif") no-repeat 0 0.5em;
        width:auto !important;
        float:left;
        clear:both;
    }
    ul.menu_simple_vertical li a ,ol.menu_simple_vertical li a,
    ul.menu_simple_vertical li a:visited ,ol.menu_simple_vertical li a:visited{ text-decoration:underline; }

    ul.menu_simple_vertical li a:hover,ol.menu_simple_vertical li a:hover { text-decoration:none; }

ul#cancelDealerChangeoverOptionsList li
{
    width:350px !important;
}

/**
*  Use this class for list that is used to control item in the table/list.
* i.e. The list is laid out on top of the table/bottom, and contains menu items like 'add'/'edit'/'delete', etc
*/
ul.table-item-control-nav{
     list-style:none;
    position:relative;
    margin:2px 0;
}
    ul.table-item-control-nav li{
        display:inline;
        margin-right:10px;
        background:transparent url("../../images/wib/fl-bullet-red-arrow.gif") no-repeat 0 0.5em;
        padding-left:10px;
        padding-top:2px;
        padding-bottom:2px;
    }
    ul.table-item-control-nav li a,ul.table-item-control-nav li a:visited{text-decoration:underline;}
    ul.table-item-control-nav li a:hover{text-decoration:none;}


/**
*  For root vertical menu. (i.e. direct child of pageContent_wrapper), we want the div to be padded
*/
div.pageContent_wrapper>ul.menu_simple_vertical{
    padding-left:10px;
}

/*** *******************************************************
*  Main menu page
******************************************************* */
.main-menu-row{
    float:left;
    /*list-style-image:none;*/
    /*list-style-position:outside;*/
    /*list-style-type:none;*/
}
.main-menu-row div.main-menu-item{
    float:left;
    margin:14px;
    padding-bottom:20px;
    padding-top:10px;
    width:280px;
    height:60px;
    background:transparent url("../../images/wib/light-blue-gradient-bg.jpg") repeat-x scroll 0 bottom;
    border:1px solid #5A728A;
    
}


.main-menu-row div.main-menu-item a{
    display:block;
    margin: 0 0 10px 30px;
    background:transparent url(../../images/wib/fl-bullet-red-arrow.gif) no-repeat scroll 0 50%;
}
.main-menu-row div.main-menu-item a img{
    display:block;
    border:none;
    margin-left:10px;
}
.main-menu-row div.main-menu-item h5.toolTip{
    font-size: 0.9em;
    margin: 0 0 10px 10px;
    font-weight:normal;
}


/*******************************************************
** Side menu
********************************************************/
div.side_menu{ }
        div.side_menu ul {list-style: none; margin: 0; padding-bottom: 10px; margin-bottom: 1px;}
        div.side_menu ul.levelOne { background-color:#2D363F; padding-top:2px; }
        div.side_menu ul.levelTwo { background-color:#3E454E; padding:2px 0;}

        div.side_menu ul li{ font-weight:bold; margin:1px 0;}
        div.side_menu ul li.submenu { background-color:transparent; margin:0; }
        div.side_menu ul li.submenu a {
            background:transparent url(../../images/wib/fl-bullet-red-arrow.gif) no-repeat scroll 15px 50%;
            display:block;
            margin-left:15px;
            padding-bottom:2px;
            padding-left:11px;
            padding-top:2px;
            text-decoration:none;
            color:#E5EDF2;
        }
        div.side_menu ul li.submenu .currentOneDown{
            background: transparent url(../../images/wib/fl-bullet-red-arrow-down.gif) no-repeat scroll 0 50%;
            display:block;
            margin-left:15px;
            padding-bottom:2px;
            padding-left:11px;
            padding-top:2px;
            color:#E5EDF2;
        }

        div.side_menu ul li.submenu ul.levelTwo li a {
            background-position:25px 50%;
            margin-left:2px;
            padding-left:35px;
        }
        div.side_menu ul li.submenu ul.levelTwo li a:hover{
            background: #4D8C9E url(../../images/wib/fl-bullet-white-arrow.gif) no-repeat scroll 25px 50%;
        }
